body {
  font-family: 'Roboto', sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  height: 100%;
  width: 100%;
  position: relative;
}


.navbar ul {
  position: relative;
  display: flex;
  list-style: none;
  justify-content: space-around;
  background-color: #fcfcfc;
  padding: 1rem;
  background-size: cover;
}

.navbar-logo {
  position: absolute; /* Absolute position to overlap the navbar */
  top: 70%;           /* Center vertically */
  left: 50%;          /* Center horizontally */
  transform: translate(-50%, -50%); /* Center perfectly */
  width: 175px;       /* Fixed width of the logo */
  height: auto;       /* Maintain aspect ratio */
  z-index: 10;        /* Ensure logo is above other elements */
}
  
.navbar ul li a {
  color: #000;
  text-decoration: none;
}
.home{
  align-items: center;
}

.home h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0rem;
  color: #d4af37;
  margin-left: 525px;
  margin-right: 525px;
}
.home .para {
  font-size: 1rem;
  text-align: left;
  margin-top: 0rem;
  margin-bottom: 3rem;
  color: #ffffff;
  margin-left: 325px;
  padding-left: 50px;
  
}

h2 {
  color: #d4af37;
  font-size: 2.5rem;
}

.events, .about, .gallery, .team {
  padding: 4rem 2rem;
  text-align: center;
}
.event-card{
  text-align: center;

}

.footer {
  background-color: #ffffff;
  padding: 1rem;
  color: #000000;
}

footer .copy {
  text-align: center;
}
.footerLogo{
text-align: left;
}

.footer h2{
  color: #000000;
}
