.footer {
  padding: 20px;
  background-color: #000000;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  margin: 10px;
}

.footerLogo {
  max-width: 100%;
  height: auto;
}

.social-media a {
  margin: 0 10px;
  color: #000;
  font-size: 24px;
}

.copy {
  margin-top: 20px;
}

hr{
    border: 1px solid #fff;
    width: 100%;
}